<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/static/inc/style.css" rel="stylesheet" type="text/css" />
        <script language="javascript" src="/static/inc/function.js" ></script>
        <script type="text/javascript" src="/static/inc/build/yahoo/yahoo-min.js" ></script>
        <script type="text/javascript" src="/static/inc/build/event/event-min.js" ></script>
        <script type="text/javascript" src="/static/inc/build/dom/dom-min.js"></script>
        <script type="text/javascript" src="/static/inc/build/dragdrop/dragdrop-debug.js" ></script>
        <script type="text/javascript" src="/static/inc/build/animation/animation-min.js"></script>
        <script type="text/javascript" src="/static/inc/jquery-3.1.0.min.js"></script>
        <script language="javascript">
            YAHOO.example.DDApp = function() {
                var dd;
                return {
                    init: function() {
                        dd= new YAHOO.util.DD("divbox");
                    }
                }
            }();
            YAHOO.util.Event.onDOMReady(YAHOO.example.DDApp.init);
			
			function loadcourse()
			{
				term=document.getElementById("term");
				createXMLHttpRequest();
				url="/sc/load/"+term.value;
				SendPost("","get",url,loadhtml);
			}

			function loadhtml()
			{

			    if(XMLHttpReq.readyState==4)
			    {
			        if(XMLHttpReq.status==200)
			        {
			            var result=XMLHttpReq.responseText;
			            result=JSON.parse(result);
			            var courselist=getobject("course");
			            courselist.options.length=0;
			            for (var item in result){
			                courselist.options.add(new Option(result[item],item));
			            }
			        }else
			        {
			            alert("error");
			        }
			    }
			}


        </script>

        <title>login</title>
        <style type="text/css">
            body {
                margin-left: 2px;
                margin-top: 2px;
                margin-right: 2px;
                margin-bottom: 0px;
                font-family: "宋体";
                font-size: 12px;
            }
        .STYLE1 {color: #FF0000}
        </style>
    </head>

    <body style="overflow-y:auto;overflow-x:hidden; overflow-y:auto" >
    
    <div id="bgdiv" class="bgdiv"></div>
    <table border="0" cellpadding="0" cellspacing="0" class="block" id="divbox" style="position:absolute;display:none;z-index:2000;">
            <tr>
                <td colspan="2" class="block-title" id="divtitle" style="float:left;font-size: 12px;">&nbsp;</td>
                <td align="right"><img src="/static//static/images/close3.gif" style="cursor:pointer" width="20" height="20" onClick="disdivbox();" >&nbsp;</td>
            </tr>
            <tr>
                <td width="1057" colspan="3" class="block-body"> <iframe src='' id="contentframes" name="contentframes" frameborder='0'></iframe></td>
            </tr>
        </table>
    <p>&nbsp;</p>
    <table width="50%" border="0" align="center" cellpadding="0" cellspacing="0" onClick="disbatbox();" class="borderall">
      <tr>
        <td height="20" colspan="3" background="/static/images/tab.jpg"><img src="/static/images/termico.png" width="20" height="20" align="absmiddle">Login</td>
      </tr>
      <tr>
        <td width="9" background="/static/images/tab2.jpg">&nbsp;</td>
        <td class="borderall"><form action="/users/LoginAction" method="POST">
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="30" align="right" bgcolor="#E8EFF7"  class="borderall">Username：</td>
        <td class="borderudr">&nbsp;
        <input name="username" type="text" class="inputbox1" id="username"></td>
      </tr>
      <tr >
        <td height="30" align="right" bgcolor="#E8EFF7"  class="borderlrd">Password：</td>
        <td class="borderrd">&nbsp;
        <input name="userpwd" type="password" class="inputbox1" id="userpwd"></td>
      </tr>

      <tr >

        <td height="30" align="right" bgcolor="#E8EFF7"  class="borderlrd">Term：</td>

        <td class="borderrd">&nbsp;

            <select name="term" class="inputbox1" id="term" onChange="loadcourse();">

              <option value="0">please select a term</option>
                {% for term in  termlist %}
              <option value="{{ term.termid}}">{{ term.termname }}</option>
                {% endfor %}
            </select>

        </td>

      </tr>

      <tr >

        <td height="30" align="right" bgcolor="#E8EFF7"  class="borderlrd">Course：</td>

        <td class="borderrd">&nbsp;

          <select name="course" class="inputbox1" id="course">

            <option>Python Web</option>

          </select>

&nbsp;</td>

      </tr>

      <tr >

        <td  width="33%" height="30" align="right" bgcolor="#E8EFF7"  class="borderlrd">verify：</td>

        <td width="67%" class="borderrd">&nbsp;

        </td>

      </tr>

    </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><span class="tabled"> <br>
                <input name="button2" type="submit" class="btn" id="button2" value="Submit" onClick="parent.disdivbox();parent.goiframes('call.html');">
              </span></td>
            </tr>
          </table>
        </form></td>
        <td width="9"  background="/static/images/tab2.jpg">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" background="/static/images/tab.jpg">&nbsp;</td>
      </tr>
    </table>
    </body>
</html>
