<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="inc/style.css" rel="stylesheet" type="text/css" />
        <script language="javascript" src="inc/function.js" ></script>
		
        <title>无标题文档</title>
        <style type="text/css">
            body {
                margin-left: 2px;
                margin-top: 2px;
                margin-right: 2px;
                margin-bottom: 0px;
                font-family: "宋体";
                font-size: 12px;
            }
        </style>
    </head>

    <body style="overflow-y:auto;overflow-x:hidden; overflow-y:auto" onunload="stopcall();">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="borderall" onClick="disbatbox();">
      <tr>
        <td height="20" colspan="3" background="images/tab.jpg"><img src="images/sign.gif" width="20" height="20" align="absmiddle">Sign</td>
      </tr>
      <tr>
        <td width="9" background="images/tab2.jpg">&nbsp;</td>
        <td valign="top" class="borderall"><table  width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
          <tr>
            <td background="images/backt.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="25" align="right" valign="middle">&nbsp;
                  <input name="startbtn" type="button" class="btn" id="startbtn" value="Start" onClick="startcall();">
                &nbsp;
                <input name="stopbtn" type="button" disabled="true" class="btn" id="stopbtn" value="Stop"  onClick="stopcall();">                &nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr  >
            <td height="21" align="center" class="borderdr"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="calllist">
              <tr>
                <td width="14%" height="21" align="center"  background="images/grid-blue-hd.gif" class="borderudr">StuNo</td>
                <td width="14%" align="center"  background="images/grid-blue-hd.gif" class="borderudr">StuName</td>
                <td width="12%" align="center"  background="images/grid-blue-hd.gif" class="borderudr">IP</td>
                <td width="12%" align="center"  background="images/grid-blue-hd.gif" class="borderudr">Course</td>
                <td width="15%" align="center"  background="images/grid-blue-hd.gif" class="borderud">Signature</td>
              </tr>
              <tr onMouseOver="this.style.background='#E8EFF7'" onMouseOut="this.style.background='#FFFFFF'">
                <td height="21" align="center" class="borderdrd">&nbsp;</td>
                <td align="center" class="borderdrd">&nbsp;</td>
                <td align="center" class="borderdrd">&nbsp;</td>
                <td align="center" class="borderdrd">&nbsp;</td>
                <td align="center" class="borderdd"><img src="images/done.gif" width="20" height="20"><img src="images/undo.gif" width="20" height="20"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="9"  background="images/tab2.jpg">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" background="images/tab.jpg">&nbsp;</td>
      </tr>
    </table>
    </body>
</html>
