<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script language="javascript" src="inc/function.js" ></script>
        <link href="inc/style.css" rel="stylesheet" type="text/css" />
        <title></title>

    </head>

    <body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
        <table width="350" border="0" cellpadding="0" cellspacing="0">
            <tr >
                <td width="60" height="30" align="center" bgcolor="#E8EFF7"  class="borderall">Course</td>
                <td colspan="5" align="center"  class="borderudr">
                    <select name="sc" id="sc"  onChange="changecourse();">
                      <option value="0">please select a course</option>

                    </select></td>
            </tr>

            <tr >
                <td width="60" height="30" align="center" bgcolor="#E8EFF7"  class="borderlrd">StuNo</td>
                <td width="60" align="center"  class="borderrd">&nbsp;</td>
                <td width="60" align="center" bgcolor="#E8EFF7"  class="borderrd">StuName</td>
                <td colspan="3" align="center"  class="borderrd">&nbsp;</td>
            </tr>
            <tr >
                <td height="30" align="center" bgcolor="#E8EFF7"  class="borderlr">Attend</td>
                <td align="center"  class="borderr">&nbsp;</td>
                <td align="center" bgcolor="#E8EFF7"  class="borderr">Absent</td>
                <td width="60" align="center"  class="borderr">&nbsp;</td>
                <td width="60" align="center" bgcolor="#E8EFF7"  class="borderr">Rate </td>
                <td width="55" align="center" class="borderr">&nbsp;</td>
            </tr>

        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="252" valign="top" bgcolor="#FFFFFF"><table  width="350" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" >
                        <tr>
                            <td width="50%" height="21" align="center"  background="images/grid-blue-hd.gif" class="borderall">Time</td>
                            <td align="center"  background="images/grid-blue-hd.gif" class="borderudr">Sign</td>
                        </tr>
                        <tr onMouseOver="this.style.background='#E8EFF7'" onMouseOut="this.style.background='#FFFFFF'">

                            <td height="21" align="center" class="borderldrd">&nbsp;</td>
                            <td align="center" class="borderrdd"><img src="images/done.gif" width="20" height="20" /><img src="images/undo.gif" width="20" height="20" /></td>
                        </tr>
                    </table></td>
            </tr>
        </table>
    </body>
</html>
