<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="inc/style.css" rel="stylesheet" type="text/css" />
        <script language="javascript" src="inc/function.js" ></script>
        <script type="text/javascript" src="inc/build/yahoo/yahoo-min.js" ></script>
        <script type="text/javascript" src="inc/build/event/event-min.js" ></script>
        <script type="text/javascript" src="inc/build/dom/dom-min.js"></script>
        <script type="text/javascript" src="inc/build/dragdrop/dragdrop-debug.js" ></script>
        <script type="text/javascript" src="inc/build/animation/animation-min.js"></script>
        <script type="text/javascript" src="inc/jquery-3.1.0.min.js"></script>
        

        <title>无标题文档</title>
        <style type="text/css">
            body {
                margin-left: 2px;
                margin-top: 2px;
                margin-right: 2px;
                margin-bottom: 0px;
                font-family: "宋体";
                font-size: 12px;
            }
        .STYLE1 {color: #ff0000}
        </style>
    </head>

    <body style="overflow-y:auto;overflow-x:hidden; overflow-y:auto" >
    
    <div id="bgdiv" class="bgdiv"></div>
    <table border="0" cellpadding="0" cellspacing="0" class="block" id="divbox" style="position:absolute;display:none;z-index:2000;">
            <tr>
                <td colspan="2" class="block-title" id="divtitle" style="float:left;font-size: 12px;">&nbsp;</td>
                <td align="right"><img src="images/close3.gif" style="cursor:pointer" width="20" height="20" onClick="disdivbox();" >&nbsp;</td>
            </tr>
            <tr>
                <td width="1057" colspan="3" class="block-body"> <iframe src='' id="contentframes" name="contentframes" frameborder='0'></iframe></td>
            </tr>
        </table>
    <form action="" method="post">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr >
        <td height="30" align="right" bgcolor="#E8EFF7"  class="borderall">Term：</td>
        <td class="borderudr">&nbsp;
            &nbsp;<select name="">
              <option>2020 Summer</option>
            </select>
        </td>
      </tr>
      <tr >
        <td  width="33%" height="30" align="right" bgcolor="#E8EFF7"  class="borderlrd">Course：</td>
        <td width="67%" class="borderrd">&nbsp;
            &nbsp;<select name="select" id="select">
              <option>Python  Web</option>
            </select>          
        &nbsp;          &nbsp;</td>
      </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center"><span class="tabled">
          <br>
          <input name="button2" type="submit" class="btn" id="button2" value="Submit" onClick="parent.disdivbox();">
        </span></td>
      </tr>
    </table>
        </form>
    </body>
</html>
